body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}
.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

a {
  text-decoration: none;
}
.main-header {
  background-color: #f3f7f8;
  display: block;
  min-height: 320px;
  margin-bottom: 60px;
}
.main-navigation {
  background-color: #293449;
  color: #ffffff;
  margin-bottom: 46px;
}
.main-navigation-logo {
  width: 220px;
  background-color: #ee3643;
  border-bottom: 5px solid #b62b35;
  display: block;
}
.main-navigation-logo:hover {
  background-color: #ca2c37;
  border-bottom: 5px solid #9a212a;
}
.main-navigation-logo:focus,
.main-navigation-logo:active {
  background-color: #ca2c37;
  border-bottom: 5px solid #8e1e26;
}
.search-form {
  position: relative;
  width: 270px;
  flex-grow: 1;
}
.search-field {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 20px 10px 50px;
  width: 100%;
  height: 42px;
  background-color: #293449;
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  border: none;
}
.search-field::placeholder {
  color: #ffffff;
}
.search-label {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 40px;
  height: 42px;
  z-index: 1;
  fill: #fff;
  opacity: 0.3;
}
.search-icon {
  display: block;
  margin: auto;
  width: 24px;
  height: 24px;
}
.search-field:hover {
  background-color: #212a3a;
}
.search-field:hover + .search-label {
  opacity: 1;
}
.search-field:focus {
  color: #000;
  background-color: #fff;
  outline: none;
}
.search-field:focus + .search-label {
  fill: #ee3643;
  opacity: 1;
}
.main-navigation-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  max-width: 450px;
}
.main-navigation-links a {
  font-size: 17px;
  line-height: 18px;
  text-transform: none;
  color: #ffffff;
  background-color: #293449;
}
.cart-filled a {
  background-color: #ee3643;
}
.main-navigation-links a:hover {
  color: #ffffff;
  background-color: #212a3a;
}
.main-navigation-links a:focus,
.main-navigation-links a:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #212a3a;
}
.complete-order a {
  color: #ffffff;
  background-color: #63a63e;
  font-style: normal;
}
.complete-order a:hover {
  color: #ffffff;
  background-color: #5fbb2d;
}
.complete-order a:focus,
.complete-order a:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}
.slogan {
  color: #ee3643;
  font-style: italic;
  text-transform: none;
  font-size: 16px;
  line-height: 23px;
  width: 250px;
  padding-left: 53px;
}
.header-contacts-phone {
  color:#ee3643;
  font-size: 21px;
  line-height: 21px;
}
.header-contacts-adress {
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
}
.user-auth {
  list-style: none;
  background-color: #ffffff;
  display: flex;
  align-items: flex-start;
}
.user-auth a {
  color: #000000;
  background-color: #ffffff;
  font-size: 21px;
  line-height: 21px;
  text-transform: none;
}
.user-auth a:hover {
  color: #ee3643;
}
.user-auth a:focus,
.user-auth a:active {
  color: rgba(0, 0, 0, 0.3);
}
.logged-in a:hover {
  color: #000000;
}
.user-navigation a {
  color: #32425c;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  text-transform: none;
}
.user-navigation a:hover {
  color: #ee3643;
}
.user-navigation a:focus,
.user-navigation a:active {
  color: rgba(50, 66, 92, 0.3);
}
.site-navigation ul {
  background-color: #32425c;
  display: flex;
  width: 940px;
  margin: 0 auto;
  padding: 0;
}
.site-navigation li {
  list-style: none;
}
.site-navigation a {
  color: #ffffff;
  background-color: #32425c;
  font-size: 17px;
  line-height: 17px;
  text-transform: none;
  border-bottom: 5px solid #293449;
}
.site-navigation a:hover {
  background-color: #293449;
}
.site-navigation a:focus,
.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}
.promo-card h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
  text-transform: none;
}
.promo-card a {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px 25px 10px 25px;
  border-radius: 3px;
}
.promo-card a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.promo-card a:focus,
.promo-card a:active {
  background-color: rgba(0, 0, 0, 0.3);
}
.materials {
  background-color: #ffbf47;
}
.instruments {
  background-color: #3bbce3;
}
.machines {
  background-color: #dc91d8;
}
.discount {
  background-color: #8ed78f;
}
.delivery {
  background-color: #ffc047;
}
.carousel h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
}
.carousel span {
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
}
.button {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  padding: 12px 55px;
}
.button:hover {
  background-color: #ca2c37;
}
.button:active,
.button:focus {
  background-color: #ba2732;
}
.heading {
  background-color: #f9f5f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 25px;
}
.heading h2 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
}
.catalog-list {
  list-style: none;
  font-family: "PT Sans", Arial, sans-serif;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.catalog-item {
  border: 1px solid #eaeaea;
  width: 220px;
  margin-bottom: 20px;
  margin-right: 20px;
  box-sizing: border-box;
}
.catalog-item:nth-child(4n) {
  margin-right: 0;
}
.catalog-item h3 {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-transform: none;
}
.old-price {
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
  text-decoration: line-through;
}
.new-price {
  font-size:17px;
  line-height: 18px;
  color: #ffffff;
  font-weight: bold;
  background-color: #ee3643;
}
.bookmark {
  background-color: #ffffff;
  border: 3px solid #63a63e;
  border-radius: 3px;
  font-size: 14px;
  line-height: 18px;
  color: #32425c;
}
.bookmark:hover {
  border: 3px solid #32425c;
}
.bookmark:active,
.bookmark:focus {
  color: rgba(50, 66, 92, 0.3);
  border: 3px solid #c1c6ce;
}
.buy {
font-size: 14px;
line-height: 18px;
color: #ffffff;
background-color: #63a63e;
border-bottom: 3px solid #367315;
}
.buy:hover {
  background-color: #5fbb2d;
}
.buy:focus,
.buy:active {
  background-color: #518534;
}
.popular-manufacturers-list li {
  list-style: none;
}
.services {
  background-color: #f4f8fa;
}
.services h2 {
  font-size: 30px;
  line-height: 30px;
}
.service-slide h3 {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
}
.services p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  text-transform: none;
}
.service-button {
  color: #ffffff;
  background-color: #32425c;
  font-size: 21px;
  line-height: 30px;
  text-transform: none;
}
.service-button:hover {
  background-color: #293449;
}
.service-button:active,
.service-button:focus {
  color: #32425c;
  background-color: #ffffff;
  border:none;
}
.about-container h2,
.contacts-container h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
}
.about-container p,
.contacts-container p {
  font-size: 13px;
  line-height: 24px;
  text-transform: none;
  font-family: "PT Sans", Arial, sans-serif;
}
.about-container li {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  text-transform: none;
  list-style: none;
}
footer {
  background-color: #32425c;
}
.footer-navigation-logo {
  width: 220px;
  background-color: #ee3643;
  border-bottom: 5px solid #b62b35;
  display: block;
}
.footer-navigation-logo:hover,
.footer-navigation-logo:focus,
.footer-navigation-logo:active {
  background-color: #ca2c37;
  border-bottom: 5px solid #8e1e26;
}
.main-footer-navigation {
  display: flex;
  justify-content: space-between;
  width: 550px;
  list-style: none;
}
.main-footer-navigation a {
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
  text-transform: none;
}
.main-footer-navigation a:hover {
  color: #f1f5f7;
  text-decoration: underline;
}
.main-footer-navigation a:active,
.main-footer-navigation a:focus {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}
.footer-contacts {
  color: #f1f5f7;
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
}
.second-footer-navigation {
  list-style: none;
}
.second-footer-navigation a {
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
  text-transform: none;
}
.second-footer-navigation a:hover {
  color: #ffd180;
  text-decoration: underline;
}
.second-footer-navigation a:active,
.second-footer-navigation a:focus {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}

.copyright {
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  text-transform: none;
  width: 230px;
}
.social-button {
  background-color: #212a3a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
.social-button:hover {
  background-color: #ee3643;
}
.social-button:active,
.social-button:focus {
  background-color: #ee3643;
}
.footer-links {
  font-size: 16px;
  line-height: 18px;
  text-transform: none;
  color: #ffffff;
}
.footer-links a {
  font-size: 16px;
  line-height: 18px;
  text-transform: none;
  color: #ffd180;
}
.footer-links a:hover {
  text-decoration: underline;
}
.footer-links a:active,
.footer-links a:focus {
  color: #ee3643;
  text-decoration: none;
}
.contact-modal label {
  font-size: 18px;
  line-height: 18px;
  text-transform: none;
  color: #000000;
}
.contact-button {
  background-color: #f4f4f4;
}
.breadcrumbs {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
}
.breadcrumbs li {
  list-style: none;
}
.catalog-heading {
  background-color: #f2f6f8;
}
.catalog-heading h2 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
}
.section-heading {
  background-color: #f7f3ec;
}
.section-heading h4 {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
.catalog-filter {
  color: #000000;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 20px;
}
.catalog-filter legend {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
}
.catalog-filter label:hover {
  color: rgba(0, 0, 0, 0.4);
}
.catalog-filter li {
  list-style: none;
}
.form-button .button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
}
.sorting li {
  list-style: none;
}
.sorting a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline dotted #ee3643;
}
.sorting a:hover {
  color: #000000;
  text-decoration: underline #ee3643;
}
.sorting a:active,
.sorting a:focus {
  color: #ee3643;
  text-decoration: none;
}
.pagination-list {
  display: flex;
}
.pagination-list li {
  list-style: none;
  margin-right: 11px;
}
.pagination-item a,
.pagination-item-current a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}
.pagination-item a:hover {
  border: 1px solid #bdc6ca;
}
.pagination-item a:active,
.pagination-item a:focus {
  border: 1px solid #ee3643;
}
.pagination-item-current a {
  background-color: #ee3643;
  color: #ffffff;
}
.about-catalog {
  background-color: #f2f6f8;
}

.about h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
}
.about p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  text-transform: none;
}

.about-catalog h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
}
.about-catalog p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  text-transform: none;
}

/* CSS Сетки */

.main-navigation-container {
  display: flex;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.complete-order {
  min-width: 150px;
  text-align: center;
}

.mid-navigation-container {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-contact {
  width: 270px;
  margin: 0;
  padding: 0;
}

.site-navigation {
  margin: 0;
  padding: 0;
}

.user-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.features {
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

.first-promo-section {
  display: flex;
  justify-content: space-between;
}

.second-promo-section {
  display: flex;
}

.third-promo-section {
  display: block;
}

.promo-card {
  width: 300px;
}

.popular-items {
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

.popular-manufacturers {
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

.popular-manufacturers-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.popular-manufacturers-item {
  width: 220px;
  margin-bottom: 20px;
  margin-right: 20px;
  box-sizing: border-box;
  border: 1px solid #eaeaea;
}

.popular-manufacturers-item:nth-child(4n) {
  margin-right: 0;
}

.services-container {
  width: 940px;
  margin: 0 auto;
  padding-top: 45px;
}

.service-slides {
  display: flex;
}

.service-slides-content {
  margin-left: 80px;
}

.service-slides-buttons {
  order: -1;
  display: flex;
  flex-flow: column;
  width: 240px;
}

.about {
  width: 940px;
  margin: 0 auto;
  padding: 0;
}
.about-wrapper {
  margin-top: 70px;
  margin-bottom: 85px;
  display: flex;
  justify-content: space-between
}

.about-container {
  width: 540px;
}
.contacts-container {
  width: 300px;
}

.footer-wrapper {
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

.footer-first-row {
  display: flex;
  align-items: start;
  justify-content: space-between;

}

.footer-second-row {
  display: flex;
  justify-content: space-between;
}

.second-footer-navigation {
  display: flex;
  justify-content: space-between;
  width: 525px;
}

.footer-bottom-wrapper {
  background-color: #293449;
}

.footer-bottom-links {
  width: 940px;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
}

.footer-social {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.footer-social li {
  list-style: none;
  margin: 0 5px;
  flex: none;
}

.mail {
  width: 185px;
}

.developer {
  width: 115px;
}

.contact-modal {
  width: 620px;
  padding: 35px 80px;
  border-top: 7px solid #ff5357;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.contact-modal-name-wrapper {
  display: flex;
}

.half-width {
  display: flex;
  flex-flow: column;
  width: 220px;
  margin-right: 20px;
}

.full-width {
  display: flex;
  flex-flow: column;
  width: 460px;
}

.contact-button {
  display: flex;
  justify-content: center;
  width: 460px;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

.breadcrumbs {
  display: flex;
}

.breadcrumbs li {
  margin-right: 20px;
}

.catalog-wrapper {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.filters {
  width: 220px;
}
.catalog {
  width: 700px;
}

.catalog-items {
  width: 220px;
  margin-bottom: 20px;
  margin-right: 20px;
  box-sizing: border-box;
  border: 1px solid #eaeaea;
}

.catalog-items:nth-child(3n) {
  margin-right: 0;
}

.sorting {
  display: flex;
}

.asc-desc-sorting {
  display: flex;
}

.catalog-filters {
  display: flex;
  margin-bottom: 20px;
}

.about-catalog {
  padding: 48px 0px;
}